h1 {
	font-family: Helvetica;
	text-align: center;
}

img {
	width: 100px;
}

div div {
	margin: auto;
}

#big_div {
	border: 5px solid black;
}
#sub_div2{
	text-align: center;
}
#sub_div3{
	text-align:right
}